.zid-btn-primary {
  background: $zid-purple;
  color: $zid-yellow-dimmed;
  font-family: Cairo, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  width: 295px;
  height: 60px;
  padding: 0;
  border-radius: 10px;
  margin-bottom: 44px;
}
